# Initial Explorations

This can be a notebook where we do our data cleaning and generate all the necessary graphs for the presentation.

## Read Datasets

In [1]:
# Imports 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Read in the tree equity data as a pandas dataframe 
tree_equity = pd.read_csv('Data/national_csv/national_tes.csv')

tree_equity.head()

,GEOID,place,state,state_abbr,county,ua_name,ua_pop,congressio,cbg_pop,acs_pop,...,linguistic,lingnorm,health_nor,temp_diff,temp_norm,tes,tesctyscor,holc_grade,child_perc,seniorperc
0,20200001011,Anchorage,Alaska,AK,Anchorage Municipality,"Anchorage Northeast, AK",29561,AK Congressional District (at Large),3234,3055.0,...,0.000379,0.026925,0.412103,-1.44,0.208102,73,76.0,NaN,0.334206,0.115876
1,20200001012,Anchorage,Alaska,AK,Anchorage Municipality,"Anchorage Northeast, AK",29561,AK Congressional District (at Large),1787,2545.0,...,0.000379,0.026925,0.412103,-5.19,0.000000,74,76.0,NaN,0.156385,0.130452
2,20200001021,Anchorage,Alaska,AK,Anchorage Municipality,"Anchorage Northeast, AK",29561,AK Congressional District (at Large),669,595.0,...,0.000000,0.000000,0.761111,-4.47,0.039956,69,76.0,NaN,0.235294,0.312605
3,20200001022,Anchorage,Alaska,AK,Anchorage Municipality,"Anchorage Northeast, AK",29561,AK Congressional District (at Large),1066,1888.0,...,0.000000,0.000000,0.761111,0.41,0.310766,68,76.0,NaN,0.256356,0.147246
4,20200001023,Anchorage,Alaska,AK,Anchorage Municipality,"Anchorage Northeast, AK",29561,AK Congressional District (at Large),1509,1969.0,...,0.000000,0.000000,0.761111,0.13,0.295228,71,76.0,NaN,0.178771,0.139665

In [5]:
# Read in the pollution data as a pandas dataframe 
pollution = pd.read_csv('Data/archive/pollution_2000_2021.csv')

pollution.head()

,Date,Year,Month,Day,Address,State,County,City,O3 Mean,O3 1st Max Value,...,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,2000-01-01,2000,1,1,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.019765,0.040,...,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,2000-01-02,2000,1,2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.032,...,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2000-01-03,2000,1,3,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.009353,0.016,...,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,2000-01-04,2000,1,4,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.033,...,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,2000-01-05,2000,1,5,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.007353,0.012,...,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58